* {
    color: #ffffff;
}

body {
    background-image: linear-gradient(-20deg, rgb(18, 18, 18) 90%, rgb(54, 17, 156));
}
main {
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
}
h3 {
    margin: 20px;
}

/*////////////////// RECOMENDADOS ////////////////////*/
.rec-topdiv {
    display: flex;
}
.config-bt {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: auto;
}
.recomendations-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.rec-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 45%;
    height: 50%;
    display: flex;
}

.rec-item button {
    width: 40px;
    height: 40px;
    background-image: url("https://picsum.photos/50");
}

.rec-item span {
    font-size: 10px;
    font-weight: 550;
    height: 40px;
    margin-left: 10px;
    line-height: 40px;
}
/* //////////////////////////////////////////////////////// */


/* ///////////////// CONTENT CONTAINER //////////////////// */
.container {
    height: 200px;
}

.container-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content span {
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}

.content button {
    background-image: url("https://picsum.photos/100");
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.artist button {
    border-radius: 100%;
    background-color: green;
}
.artist span {
    text-align: center;
    margin-left: 0;
}

.album button {
    background-color: white;
    border-radius: 0;
}

.podcast button {
    background-color: red;
    border-radius: 5px;
}
/* //////////////////////////////////////////////////////// */


/* ////////////////////// RODAPE ////////////////////////// */
footer {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 15%;
    position: fixed;
    bottom: 0;
}

.player {
    height: 55%;
    border-top: 1px solid rgb(80, 80, 80);
    border-bottom: 1px solid black;
    display: flex;
}

.player img {
    width: 50px;
    height: 50px;
}
.spans {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    font-size: 10px;
    font-weight: 500;
}
.spans .artist-txt {
    color: rgb(190, 190, 190);
}

.player-bts {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
}

.player-bt {
    width: 30px;
    height: 30px;
    margin: 5px;

    background-color: transparent;
    border: 2px solid white;
}

.navigation {
    height: 45%;
    display: flex;
    justify-content: space-around;
    /*justify needs fix */
}

.navbt {
    font-size: 9px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.navbt button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
}
/* //////////////////////////////////////////////////////// */